.container{
    background-color:rgba(255, 255, 255, 0.7);
;
    color:black;
    border-radius: 1rem;
    padding:1rem;
    text-align: center;
}

.temp{
    font-size: 7rem;
    font-weight:900;
    margin: 1rem;
}

.temperatures{
    display: flex;
    justify-content: center;
    gap: 5rem;
    font-size:1.5rem;
}

.temperatures p{
    font-weight: 1000;
}

.temperatures span{
    font-weight: 400;
}

@media (max-width: 480px) {

    .container {
        padding: 0.5rem;
        border-radius: 0.4rem;
    }

    .temp {
        font-size: 3rem; 
        margin: 0.3rem;
    }

    .temperatures {
        gap: 1rem;        
        font-size: 0.8rem; 
        flex-direction: column; 
        align-items: center;
    }
}