@import "tailwindcss";


:root{
    --white:#FFF;
    --primary: #386a92;
}

html{
    font-size:62%;
}

body{

    font-family: "Stack Sans Text", sans-serif;
    background-image:url("/public/snowy5.jpeg");
    background-repeat: no-repeat;  
    background-size:cover; /*para q tome todo el ancho y alto*/
    background-attachment:fixed;
    background-position:center;
    color: var(--white);
}


footer {
  position: fixed;
  background-color: white;
  bottom: 0;
  width: 100%;
}
